<!DOCTYPE html>
<html>
<head>
	<title>QCM demo</title>
	<link rel="stylesheet" type="text/css" href="style.css">
</head>
<body>

	<h1>QCM <div class="number">&#xA0;#1</div></h1>
	<form class="form">
	  
	  <h2>Question 1 - réponses multiples</h2>
	  <div class="userChoice">
	    <input id="option1" name="option1" type="checkbox"/>
	    <label for="option1">Choix 1</label>
	  </div>
	  
	  <div class="userChoice">
	    <input id="option2" name="option2" type="checkbox"/>
	    <label for="option2">Choix 2</label>
	  </div>
	  
	  <h2>Question 2 - réponse unique</h2>
	  <div class="userChoice">
	    <input id="radio1" name="radio" type="radio"/>
	    <label for="radio1">Choix 1</label>
	  </div>
	  <div class="userChoice">
	    <input id="radio2" name="radio" type="radio"/>
	    <label for="radio2">Choix 2</label>
	  </div>
	</form>
	
</body>
</html>