<!DOCTYPE html>
<html>
    <head>
        <%- include('../head/head.html'); -%>
    </head>
    <body>

        <form action="/api/qcm/create" method="POST" enctype="multipart/form-data">
            <input type="file" name="file">
            <input type="text" name="name" placeholder="Nom du QCM">
            <input type="text" name="category" placeholed="Catégorie (Mathématique/Informatique/Autre)">
            <button type="submit">
                Submit
            </button>
        </form>
    </body>
</html>