<!DOCTYPE html>
<html>
    <head>
        <%- include('../head/head.html'); -%>
    </head>
    <body>
       


    </body>
    <script>
        let API_URL = "/api/";
        console.log(API_URL);
        let response;
        (async()=>{
            console.log("Trying to fetch")
            response = await fetch(API_URL + "browse/qcm");
            qcms = await response.json();
            qcms = qcms.qcms;
            qcms.forEach(qcm => {
                let el = document.createElement("a", {href:"/qcm/"+qcm.uuid});
                document.body.appendChild(el);
            });
        })()
    </script>
</html>