<!DOCTYPE html>
<html>

    <head>
        <title>Website</title>
        <%- include('../head/head.html'); -%>
    </head>

    <body>
        <div id="content">
            <ul>
            <% query.forEach((el) => { %>
                <li><a href="/admin/m/<%= model.table_name %>/o/<%= el.id %>"><%= model.toStr(el) %></a></li>
            <% }); %>
            </ul>
            <a class="btn btn-primary" href="/admin/m/<%= model.table_name %>/create">Créer un objet</a>
        </div>
    </body>

</html>