<!DOCTYPE html>
<html>
<head>
    <title>Login</title>
    <%- include('head.html'); -%>
    <link rel="stylesheet" href="/css/login.css">
</head>
<body>
    <div class="content p-4 text-center box">

        <div class="login-container container container-fluid">
            <h1 id="title">CatWeb</h1>
            <h5>Log-In to view all the content.</h2>
            <form action="" method="POST">
                <input placeholder="password" type="password" id="password" name="password">
                <input type="submit" value="Submit">
            </form>
        </div>
        
    </div>
</body>
</html>