<!DOCTYPE html>
<html>

    <head>
        <title>Website</title>
        <%- include('head.html'); -%>
    </head>

    <body>
        <div id="content">
            <h1 id="title">CatWeb</h1>
            <% if (!logged_in) { %>
                <p>Hello, if you are the owner of this website, you can: <a href="/login/">Login Here</a></p>
            <% } else { %>
                <p>You are connected! The session will expire in: <%= time_left %> seconds. <a href="/logout/">Logout Here</a></p>
            <% } %>
            
            <div class="row p-3">
                <div class="col-3">
                    <div class="row mt-2">
                        <input type="button" value="Click Me Maybe?">
                    </div>
                    <div class="row mt-2">
                        <input type="button" value="Mee Too!">
                    </div>
                </div>

                <div class="col">
                    <div>
                        <img class="image-responsive" src="/img/cat1.jpg" width="100%">
                    </div>
                </div>
            </div>

        </div>
    </body>

</html>