<!DOCTYPE html>

<html lang="fr">

<head>
    <meta charset="utf-8">
    <title>CMT Browser - demo</title>
    <link rel="stylesheet" type="text/css" href="browser_style.css">
</head>

<body>

    <ul class="themes">
        <li>Mathématiques
            <span class="badge">16</span>
        </li>
        <li>Python
            <span class="badge">3</span>
        </li>
        <li>HTML
            <span class="badge">12</span>
        </li>
        <li>CSS
            <span class="badge">7</span>
        </li>
        <li>Physique
        	<span class="badge">1</span>
        </li>
    </ul>

</body>

</html>