<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <title>Club info</title>
    <link rel="icon" type="image/x-icon" href="assets/favicon.ico" />
    <%- include('head/head.html') %>
</head>

<body>
    <%- include('navbar.html') %>
    <!-- Page Header-->
    <header class="masthead" style="background-image: url('/img/design/about-bg.jpg')">
        <div class="container position-relative px-4 px-lg-5">
            <div class="row gx-4 gx-lg-5 justify-content-center">
                <div class="col-md-10 col-lg-8 col-xl-7">
                    <div class="page-heading">
                        <h1>A propos</h1>
                        <span class="subheading">Qui sommes-nous?</span>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <!-- Main Content-->
    <main class="mb-4">
        <div class="container px-4 px-lg-5">
            <div class="row gx-4 gx-lg-5 justify-content-center">
                <div class="col-md-10 col-lg-8 col-xl-7">
                    <p>Un groupe d'élèves motivés et intéressés par l'informatique, composé d'élèves de seconde du Lycée
                        franco-allemand de Buc.</p>
                    <p>Vous cherchez à en apprendre plus sur le club ou découvrir les <a href="post.html">outils qu'il
                            propose</a>? C'est par ici !</p>
                    <h1>Le club informatique en bref</h1>
                    <ul>
                        <li>Découverte de la <b>cryptographie</b> (Enigma, méthodes de chiffrement, etc)</li>
                        <li><i>[Jusqu'à la seconde inclue]</i> Préparation du concours <b><a
                                    href="https://concours-alkindi.fr">Alkindi</a></b></li>
                        <li>Entraînement à la programmation avec <b><a
                                    href="http://www.france-ioi.org/">France-IOI</a></b></li>
                    </ul>
                </div>
            </div>
        </div>
    </main>
    <!-- Footer-->
    <%- include('footer.html') %>
    <!-- Bootstrap core JS-->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js"></script>
    <!-- Core theme JS-->
    <script src="js/scripts.js"></script>
</body>

</html>