<!DOCTYPE html>

<html lang="fr">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <title>Club info</title>
    <link rel="icon" type="image/x-icon" href="/img/design/favicon.ico" />
    <%- include('head/head.html') %>
</head>

<body>
    <%- include('navbar.html') %>
    <!-- Page Header-->
    <header class="masthead" style="background-image: url('/img/design/bg.jpg')">
        <div class="container position-relative px-4 px-lg-5">
            <div class="row gx-4 gx-lg-5 justify-content-center">
                <div class="col-md-10 col-lg-8 col-xl-7">
                    <div class="site-heading">
                        <h1 id="page-title">Club info</h1>
                        <span class="subheading">Un blog par les élèves du club informatique du Lycée Franco-Allemand de Buc</span>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <!-- Main Content-->
     <main class="mb-4">
        <div class="container px-4 px-lg-5">
            <div class="row gx-4 gx-lg-5 justify-content-center">
                <div class="col-md-10 col-lg-8 col-xl-7">
                    <h2>Qui sommes-nous ?</h2>
                    <p>Elèves en première au Lycée Franco-Allemand de Buc, nous avons formé le projet de créer un site destiné à tous ceux qui désirent s'entraîner aux matières scientifiques via des QCM et des exercices dédiés.<br>Vous cherchez à en apprendre plus sur le club ou découvrir les outils qu'il propose? <a href="post.html">C'est par ici !</a></p>
                    <h2>Le club informatique en bref</h2>
                    <p>Dans le cadre du Club info, nous nous intéressons également à la cryptographie 🤿 (Enigma, méthodes de chiffrement, etc.) et nous préparons au concours <a href="https://concours-alkindi.fr">Alkindi</a> (jusqu'à la seconde inclue)</p>
                    <p>Nous nous entraînons à la programmation en Python 🐍 avec <a href="http://www.france-ioi.org/">France-IOI</a></li>
                    </p>
                </div>
            </div>
        </div>
    </main>
    <div class="album py-5 bg-light">
<div class="container position-relative px-4 px-lg-5">
      <div class="row">
        <div class="col-md-3">
          <div class="card mb-3 box-shadow">
            <a href="https://itai.cf"><img class="card-img-top" src="/img/design/avatar1.jpg"
                alt="QCM de mathématiques"></a>
            <div class="card-body">
              <h3 class="post-subtitle">Gabriel C.</h3>  
              <p class="card-text">A participé au développement du Backend de ce site.</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-3">
          <div class="card mb-3 box-shadow">
            <a href="/qcm/browse"><img class="card-img-top" src="/img/design/avatar2.jpg"
                alt="Entraînement"></a>
            <div class="card-body">
              <h3 class="post-subtitle">Axel C.</h3>  
              <p class="card-text">A participé au développement du Backend de ce site.</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                </div>
              </div>
            </div>
          </div>
        </div>
                <div class="col-md-3">
          <div class="card mb-3 box-shadow">
            <a href="/qcm/browse"><img class="card-img-top" src="/img/design/avatar3.jpg"
                alt="Entraînement"></a>
            <div class="card-body">
              <h3 class="post-subtitle">Théo H.</h3>  
              <p class="card-text">A participé au développement du Backend de ce site.</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-3">
          <div class="card mb-3 box-shadow">
            <a href="/qcm/browse"><img class="card-img-top" src="/img/design/avatar4.jpg"
                alt="Entraînement"></a>
            <div class="card-body">
              <h3 class="post-subtitle">Camille V.</h3>  
              <p class="card-text">A fait le développement du Frontend de ce site.</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                </div>
              </div>
            </div>
          </div>
        </div>
        <p style="text-align: center;"><b>Ont participé à l'écriture des articles : </b>Antoine A.&nbsp;Adam B.&nbsp;Luc E.&nbsp;Itaï I.&nbsp;Maïten J.&nbsp;Lorenz T.&nbsp;Aurélien U.&nbsp;Adrien V.</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                </div>
              </div>
            </div>
          </div>
        </div>
        <p>&nbsp;</p>
    <!-- Footer-->
    <%- include('footer.html') %>
    <!-- Bootstrap core JS-->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js"></script>
    <!-- Core theme JS-->
    <script src="js/scripts.js"></script>
</body>

</html>
