<!DOCTYPE html>

<html>
	<head>
		<title>Connexion - Club info</title>
		<link rel="icon" href="favicon.ico">
		<link rel="stylesheet" type="text/css" href="STATIC/CSS/login.css"/>
	</head>

	<body>
		<form>
			<h2><b>Connexion</b></h2>
			<input type="text" name="username" placeholder="Nom d'utilisateur">
			<input type="password" name="password" placeholder="Mot de passe">
			<button>Connexion</button>
			<p>Pas de compte ? <a href="sign_up.html">Créer un compte</a></p>
		</form>
	</body>
</html>