<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
  <meta name="description" content="" />
  <meta name="author" content="" />
  <title>Club info</title>
  <link rel="icon" type="image/x-icon" href="assets/favicon.ico" />
  <%- include('head/head.html') %>
</head>

<body>
  <!-- Navigation-->
  <%- include('navbar.html') %>
  <!-- Page Header-->
  <header class="masthead" style="background-image: url('/img/design/pencil-5459684_1280.png')">
    <div class="container position-relative px-4 px-lg-5">
      <div class="row gx-4 gx-lg-5 justify-content-center">
        <div class="col-md-10 col-lg-8 col-xl-7">
          <div class="post-heading">
            <h1>Exercices d'entraînement corrigés</h1>
            <h2 class="subheading">Des exercices variés pour vous aider dans vos révisions</h2>
            <span class="meta">
              Mis en ligne par
              <a href="about.html">Club informatique</a>
              on August 24, 2021
            </span>
          </div>
        </div>
      </div>
    </div>
  </header>
  <!-- Post Content-->
  <div class="album py-5 bg-light">
    <div class="container">

      <div class="row">
        <div class="col-md-4">
          <div class="card mb-4 box-shadow">
            <a href="https://itai.cf"><img class="card-img-top" src="/img/design/homework-2521144_1920.jpg"
                alt="Card image cap"></a>
            <div class="card-body">
              <p class="card-text">Des exercices variés pour vous aider dans vos révisions</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <a href="https://itai.cf"><button type="button"
                      class="btn btn-sm btn-outline-secondary">Lire</button></a>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card mb-4 box-shadow">
            <a href="/qcm/browse"><img class="card-img-top" src="/img/design/geometry-1044090_1920.jpg"
                alt="Card image cap"></a>
            <div class="card-body">
              <p class="card-text">Des QCMs de mathématiques corrigés</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <a href="/qcm/browse">
                    <button type="button" class="btn btn-sm btn-outline-secondary">Lire</button>
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!--<div class="col-md-4">
              <div class="card mb-4 box-shadow">
                <a href="#jaipasencorelinkcamaisbon"><img class="card-img-top" src="/img/design/geometry-1044090_1920.jpg" alt="Card image cap"></a>
                <div class="card-body">
                  <p class="card-text">Des QCMs de mathématiques corrigés</p>
                  <div class="d-flex justify-content-between align-items-center">
                    <div class="btn-group">
                      <a href="#jaipasencorelinkcamaisbon"><button type="button" class="btn btn-sm btn-outline-secondary">Lire</button></a>
                    </div>
                  </div>
                </div>
              </div>
            </div>-->
        <div class="col-md-4">
          <div class="card mb-4 box-shadow">
            <a href=""><img class="card-img-top" src="/img/design/crypto-logo.jpg" alt="Card image cap"></a>
            <div class="card-body">
              <p class="card-text">Des informations sur le chiffrage et l'analyse de fréquence</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <a href=""><button type="button" class="btn btn-sm btn-outline-secondary">Lire</button></a>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card mb-4 box-shadow">
            <a href=""><img class="card-img-top" src="/img/design/geometry-1044090_1920.jpg" alt="Card image cap"></a>
            <div class="card-body">
              <p class="card-text">Découvrez le chiffrement de Vigenere</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <a href=""><button type="button" class="btn btn-sm btn-outline-secondary">Lire</button></a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      </main>

      <footer class="text-muted">
        <div class="container">
          <p class="float-right">
            <a href="#">Back to top</a>
          </p>
        </div>
      </footer>

      <!-- Bootstrap core JavaScript
    ================================================== -->
      <!-- Placed at the end of the document so the pages load faster -->
      <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous">
      </script>
      <script>
        window.jQuery || document.write('<script src="../../assets/js/vendor/jquery-slim.min.js"><\/script>')
      </script>
      <script src="../../assets/js/vendor/popper.min.js"></script>
      <script src="../../dist/js/bootstrap.min.js"></script>
      <script src="../../assets/js/vendor/holder.min.js"></script>
      <!-- Footer-->
      <%- include('footer.html') %>
      <!-- Bootstrap core JS-->
      <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js"></script>
      <!-- Core theme JS-->
      <script src="js/scripts.js"></script>
</body>

</html>