<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
  <meta name="description" content="" />
  <meta name="author" content="" />
  <title>Club info</title>
    <link rel="icon" type="image/x-icon" href="/img/design/favicon.ico" />
  <%- include('head/head.html') %>
</head>

<body>
  <!-- Navigation-->
  <%- include('navbar.html') %>
  <!-- Page Header-->
  <header class="masthead" style="background-image: url('/img/design/post_bg.jpg')">
    <div class="container position-relative px-4 px-lg-5">
      <div class="row gx-4 gx-lg-5 justify-content-center">
        <div class="col-md-10 col-lg-8 col-xl-7">
          <div class="post-heading">
            <h1>Le Club info propose</h1>
            <h2 class="subheading">des QCMs, des exercices variés et des articles autour des sciences</h2>
          </div>
        </div>
      </div>
    </div>
  </header>
  <!-- Post Content-->
  <div class="album py-5 bg-light">
    <div class="container">

      <div class="row">
        <div class="col-md-6">
          <div class="card mb-6 box-shadow">
            <a href="/qcm/browse"><img class="card-img-top" src="/img/design/qcm_post.jpg"
                alt="QCM de mathématiques"></a>
            <div class="card-body">
              <h3 class="post-subtitle">QCM de Mathématiques</h3>  
              <p class="card-text">Accédez à des QCMs variés et corrigés</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <a href="/qcm/browse"><button type="button"
                      class="btn btn-sm btn-outline-secondary">Lire</button></a>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="card mb-6 box-shadow">
            <a href="/qcm/browse"><img class="card-img-top" src="/img/design/entrainement_post.jpg"
                alt="Entraînement"></a>
            <div class="card-body">
              <h3 class="post-subtitle">Entraînement</h3>  
              <p class="card-text">Des exercices pour vos révisions</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <a href="/qcm/browse">
                    <button type="button" class="btn btn-sm btn-outline-secondary">Lire</button>
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
        <p></p>
        <div class="col-md-6">
          <div class="card mb-6 box-shadow">
            <a href=""><img class="card-img-top" src="/img/design/crypto_post.jpg" alt="Cryptographie"></a>
            <div class="card-body">
              <h3 class="post-subtitle">Cryptographie</h3> 
              <p class="card-text">Le chiffrage et l'analyse de fréquence</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <a href=""><button type="button" class="btn btn-sm btn-outline-secondary">Lire</button></a>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="card mb-6 box-shadow">
            <a href=""><img class="card-img-top" src="/img/design/vigenere_post.jpg" alt="Chiffrement"></a>
            <div class="card-body">
              <h3 class="post-subtitle">Vigenère</h3> 
              <p class="card-text">Découvrez le chiffrement de Vigenère</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <a href=""><button type="button" class="btn btn-sm btn-outline-secondary">Lire</button></a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <p>&nbsp;</p>
      </main>

      <!-- Bootstrap core JavaScript
    ================================================== -->
      <!-- Placed at the end of the document so the pages load faster -->
      <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous">
      </script>
      <script>
        window.jQuery || document.write('<script src="../../assets/js/vendor/jquery-slim.min.js"><\/script>')
      </script>
      <script src="../../assets/js/vendor/popper.min.js"></script>
      <script src="../../dist/js/bootstrap.min.js"></script>
      <script src="../../assets/js/vendor/holder.min.js"></script>
      <!-- Footer-->
      <%- include('footer.html') %>
      <!-- Bootstrap core JS-->
      <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js"></script>
      <!-- Core theme JS-->
      <script src="js/scripts.js"></script>
</body>

</html>