@import url('https://fonts.googleapis.com/css2?family=Quicksand&display=swap');

body#login{
	padding: 0;
	margin: 0;
	background: url('/img/design/login_bg.jpg');
	background-repeat: no-repeat;
	background-size: cover;
}

form {
	font-family: 'Quicksand', sans-serif;
	position: relative;
	z-index: 1;
	background: #fff;
	opacity: 97%;
	max-width: 250px;
	margin: 200px auto 100px;
	padding: 10px 45px 30px 45px;
	text-align: center;
	box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
	border-radius: 10px;
}

form input {
	outline: 0;
	background: #f1f1f1;
	border-radius: 15px;
	width: 100%;
	border: 0;
	margin: 0 0 20px;
	padding: 15px;
	box-sizing: border-box;
	font-size: 15px;
}

form input:hover {
	background-color: #e3d3f9;
}

form input:focus {
	background-color: #e3d3f9;
}

form button {
	cursor: pointer;
	outline: 0;
	border-radius: 20px;
	background: #ae72cc;
	width: 100%;
	border: 0;
	padding: 15px;
	font-size: 15px;
	color: #fff;
	transition: 0.25s;
}

form button:hover, form button:active, form button:focus {
	background-color: #7a2d9c;
}

form button:disabled {
	background: #b187c7;
}

a {
	color: #9742bd;
	text-decoration: none;
	font-weight: bold;
}

a:hover, a:focus, a:active {
	color: #ae72cc;
}

small {
	margin-top: 0px;
	font-weight: 100;
	font-size: 10px;
	color: #9298a1;
	transition: 1s;
}

small.error {
	color: #a1301c;
}

smalldiv {
	margin-bottom: 10px;
}