@import url('https://fonts.googleapis.com/css2?family=Space+Mono&display=swap');


.capture-droite{
    float: right;
}
.capture-gauche{
    float: left;
}
.meme_hauteur {
    height: 300px;
    width: auto;
}

#embedded {
    background-color: #dddce6;
    margin: 5em;
    font-family: "Space Mono", sans-serif;
    font-size: .75em;
}

div{
    text-align: center;
}

body {
    padding: 30px;
}

figure {
    width: 30%;
    text-align: center;
    font-style: italic;
    font-size: smaller;
    text-indent: 0;
    padding: 2em;
  }

  figcaption {
    color: grey;
  }
